@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import "react-alice-carousel/lib/scss/alice-carousel.scss";
* {
    scroll-behavior: smooth;
}

body {
    background-color: #39445A;
}

.main-content{
    padding-bottom: 70px;
}

.page-title {
    margin: 16px auto;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}
@media screen and (max-width:600px) {
    .main-content{
        padding: 0px;
        padding-bottom: 70px;
    }
}